.background {
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.nav {
  font-size: 20px;
  width: 100%;
  display: flex;
  background-color: lightslategray;
}

.nav * {
  padding: 5px;
  border: 2px solid #c8c8c8;
  text-decoration: none;
  color: darkblue;
  background-color: lightgray;
}

#home-btn {
  margin-right: auto;
}

.App {
  text-align: center;
  margin: 40px;
  padding: 100px;
  border-radius: 20px;
  border: 3px solid steelblue;
  background-color: #eeeeee;
  max-width: 300px;
}

.App h1 {
  font-size: 70px;
  margin-top: 0;
}

#login-form {
  display: flex;
  justify-content: center;
}

.text-input {
  display: block;
  font-size: 17px;
  padding: 3px;
  margin: 10px;
  width: 90%;
  transition: width 0.5s;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.text-input:focus {
  outline: none;
  width: 110%;
  border-bottom: 1px solid blue;
  transition: width 0.5s;
}

.submit-btn {
  font-size: 20px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 15px;
  background-color: dodgerblue;
  transform: scale(1);
}

.submit-btn:active {
  transform: scale(0.95);
  background-color: #0c80ed;
}

.submit-btn:focus {
  outline: none;
}

.error-message {
  background-color: rgba(255, 0, 0, 0.6);
  border: 2px solid rgba(255, 0, 0, 0.9);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #111111;
}

.error-btn {
  background: none;
  border: none;
  border-radius: 100%;
  padding-left: 4.32px;
  padding-right: 4.32px;
  margin-left: 20px;
  vertical-align: middle;
  font-weight: 800;
  height: 17px;
}

.error-btn:hover {
  background-color: red;
  font-weight: 900;
}